+form()(class='chat form-horizontal')
  .row
    .col-md-12
      .chat-border
        ul.chat-display
  <br>
  .row
    .col-md-2
      p Message:
    .col-md-10
      +input-text()(class='chat-input')
