extends layout_user

block content
  section#portfolio
    .container-fluid
      .row
        .col-lg-12.text-center
          h2= user.username
      .links #[a.btn.btn-success(href='/register', type='button') Public Chatroom] #[a.btn.btn-success(href='/register', type='button') Rating System]
      .row
        .caption-skills.text-center
          ul.list-inline
            li
              i Node.js
            li
              i Rails
            li
              i HTML5
      hr.star-primary
      .row
        .col-sm-4.portfolio-item
          img.img-responsive(src='/images/jake.jpg', alt='')
        .col-sm-7.col-sm-offset-1
          h3 Lorem Ipsum
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &apos;Content here, content here&apos;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy.
      .row
        .col-md-6
          h3 Info
          p
            | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
        .col-md-6
          h3 Info
          p
            | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
